body {
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    display: flex;
    font-family: 'Helvetica', sans-serif;
    color: #FFF;
    font-size: 300px;
    height: 300px;
}

.ampm {
    font-size: 50px;
    font-family: 'Helvetica', sans-serif;
    color: #fff;
    text-align: left;
    align-self: top;
    margin-right: 25px;
}

.digit-container {
    position: relative;
    background-color: rgba(128,128,128,.5);
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.digit-container1 {
    position: relative;
    height: 80px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    align-self: end;
    margin-left: 25px;
}

.strip {
    position: absolute;
    rotate: 90deg;
    width: 6px;
    height: 135%;
    background-color: #000;
    left: 50%;
}

.digit {
    color: white;
    position: relative;
    width: 100px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-right: 80px;
    margin-left: 15px;
}

.digit1 {
    color: white;
    position: relative;
    font-size: 50px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}


.separator {
    color: #FFF;
    margin-right: 25px;
}

.flip-up {
    transform: rotateX(-90deg);
}

.flip-down {
    transform: rotateX(0deg);
}
